*{
  padding: 0%;
  margin: 0%;
 
  /* outline:solid red; */
}
.footer{
  background-color: black;
  width: 100vhs;
}
.about{
  height: 100vh;
  background-color: rgb(13, 13, 66);
}
.project{
  height: 100vh;
  background-color: rgb(13, 13, 66);
}
.skills{
  height: 100vh;
  background-color: rgb(13, 13, 66);
}